@charset "utf-8";
.row.account {
	margin-top: 50px;
	margin-bottom: 120px;
}
.body .container .row.account .col-sm-2 .panel.panel-success .panel.panel-default .panel-body .form-horizontal fieldset .controls .btn.btn-success {
	width: 300px;
	margin-top: 15px;
	margin-bottom: 13px;
}
.login{ margin-left: 120px;
}
.body .container .row.account .col-sm-2 .panel.panel-success .panel.panel-default .panel-body .form-horizontal fieldset .loginin .row.clearfix {
	margin-left: 15px;
	width: 300px;
}
.body .container .row.account .col-sm-2 .panel.panel-success .panel.panel-default .panel-body .form-horizontal fieldset .loginin .controls {
	margin:0 auto;
}
.rg_row{
	padding-top:20;
	}
	
/*a:link{text-decoration:none ; }
a:visited {text-decoration:none ; }
a:hover {

}
a:active {text-decoration:none ; } */
.hang{ line-height:45px;
}
.titlel{
	font-family: Tahoma, Geneva, sans-serif;
}
