<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:context="http://www.springframework.org/schema/context"
	xmlns:aop="http://www.springframework.org/schema/aop"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
           http://www.springframework.org/schema/beans/spring-beans-2.5.xsd
           http://www.springframework.org/schema/context
           http://www.springframework.org/schema/context/spring-context-2.5.xsd
           http://www.springframework.org/schema/aop
           http://www.springframework.org/schema/aop/spring-aop-2.5.xsd">
	<context:annotation-config />
	<aop:aspectj-autoproxy />
	
	
	<!-- <context:component-scan base-package="com.xh.dao.impl"/>  -->
	<!--  <bean name="sessionFactory"    class="org.springframework.orm.hibernate4.LocalSessionFactoryBean"
>
         </bean> -->
         
         
	
	<bean id="newsdao" class="com.itree.dao.impl.NewsDaoimpl">
	
	</bean>
	
	<bean id="newsService" class="com.itree.service.impl.NewsServiceimpl">
		<property name="newsdao" ref="newsdao"></property>
	</bean>
	<bean id="newsAction" class="com.itree.action.NewsAction" scope="prototype">
		<property name="newsService" ref="newsService"></property>	
	</bean>
	
	
	<!-- About users -->   
	<bean id="userdao" class="com.itree.dao.impl.UserDaoimpl"></bean>
	<bean id="userService" class="com.itree.service.impl.UserServiceimpl">
		<property name="userdao" ref="userdao"></property>
	</bean>
	<bean id="userAction" class="com.itree.action.UserAction" scope="prototype">
		<property name="userService" ref="userService"></property>	
	</bean>
	
	<!-- About role -->   
	<bean id="roledao" class="com.itree.dao.impl.RoleDaoimpl"></bean>
	<bean id="roleService" class="com.itree.service.impl.RoleServiceimpl">
		<property name="roledao" ref="roledao"></property>
	</bean>
	<bean id="roleAction" class="com.itree.action.RoleAction" scope="prototype">
 		<property name="roleService" ref="roleService"></property>	
	</bean>
	
</beans>